<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>482707168880-bpqtlvgtna885sp27ie1b3aeulipmsod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482707168880-bpqtlvgtna885sp27ie1b3aeulipmsod</string>
	<key>API_KEY</key>
	<string>AIzaSyDtmDUrkID3eMRTCp4PSgcFAajczmDpS98</string>
	<key>GCM_SENDER_ID</key>
	<string>482707168880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.univ-lyon1.Binder</string>
	<key>PROJECT_ID</key>
	<string>binder-a43d6</string>
	<key>STORAGE_BUCKET</key>
	<string>binder-a43d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:482707168880:ios:16299d69618f279b</string>
	<key>DATABASE_URL</key>
	<string>https://binder-a43d6.firebaseio.com</string>
</dict>
</plist>